# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

appSettings.json
appSettings.*.json
Archive.zip
application
priceBreachChecker

.DS_Store
*.zip